{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<div class="d-flex justify-content-lg-center mb-2" style="flex-direction: column; text-align: center;">
    <h3>Hello {{username}}👋🏻, nice to meet you! Thank you so much for using my App 🤗</h3>
    <h5><a href="https://abhilashgupta.ml">Click here</a> to know more about me ❤️</h5>
</div>
<div class="container d-flex justify-content-center">

    <button type="submit" class="btn btn-dark mt-2"><a href="/" class="link-light text-decoration-none">Sign
            out</a></button>

</div>


{% endblock body %}